<h1>Create Post</h1>

<form method="POST" enctype="multipart/form-data">
  <textarea name="content" placeholder="The content for your post..."></textarea>

  <input type="file" name="photo">

  <button>Create Post</button>
</form>
